@import "../variables";

.ag-lf-theme {
  .ag {
    &-root-wrapper {
      border: none;
      border-radius: 8px;
    }

    &-header {
      background-color: #E6E4EA;

      border-bottom: none;

      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      &-cell {
        &-label {
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }

    &-cell {
      &-inline-editing {
        height: 63px;
      }
    }

    &-center-cols-container {
      & > .ag-row {
        border-color: rgba(230, 228, 234, 0.64);
      }
    }
  }

  &__new-row {
    .ag-center-cols-container {
      & > .ag-row:last-child {
        .ag-cell.ag-cell-not-inline-editing {
          color: $c-grey-dk;
        }
      }
    }
  }
}
